.SearchSection{
    background-image: url(../../imgs/bannerbackground.png);
    background-repeat: no-repeat;
    background-position: center; 
    overflow: hidden;
    height: 400px;
    background-size: 1500px 500px;
}